<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node</h1>
    <p>This is a sample Node application deployed . 
    
  </div>
</div>
<div class="container">
  
  <h1>Welcome to sample application</h1>
 
   
</div>


</body>
</html>
